<div class="nested-fields">
  <div class="row mt-2">
    <div class="col-sm-10 file_fields">
      <div class = "row file_field">
        <%= f.text_field :procedure_explanation, class: "form-control", placeholder: "手順" %>
        <div class = "file">
          <!--javascriptで定義した関数を元に画像選択ボタン”ココ”に表示-->
          <%= f.file_field :image,  accept: 'image/*', onchange: "previewImage(this);" %>
        </div>
      </div>
    </div>
    <div class = "col-sm-1 preview_field">
      <!--javascriptで選択した画像を表示 defaultでno_imageを設定-->
      <img class = "preview" src = "<%= asset_path('no_image.jpg') %>" style = "max-width:100px;">
    </div>
    <div class="col-sm-1">
      <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %>
    </div>
  </div>
</div>