<div class="nested-fields">
  <div class="row mt-2">
    <div class="col-sm-10 file_fields">
      <div class = "row file_field">
        <%= f.text_field :procedure_explanation, class: "form-control", placeholder: "手順" %>
        <!--javascriptで画像選択後、プレビュー表示 ここから-->
        <div class = "file">
          <input type="file" accept='image/*' onchange="previewImage(this);">
        </div>
        <!--ここまで-->
      </div>
    </div>
    <div class = "col-sm-1 preview_field">
      <img class="preview" src="<%= asset_path('no_image.jpg') %>" style="max-width:100px;">
    </div>
    <div class="col-sm-1">
      <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %>
    </div>
  </div>
</div>