<div class = "container">
  <div class = "row">
    <div class = "col-sm-11 offset-sm-1">
      <h3><i class="fas fa-edit"></i></i>レシピ編集</h3>
    </div>
    <%= render 'partial_template/error', error: @recipe_d %>
    <div class = "col-sm-12">
      <%= form_with model: @recipe_d, url: recipe_d_path do |f| %>
        <%= render 'partial_template/from', f: f, text: "編集を保存" %>
      <% end %>
    </div>
  </div>
</div>