<main>
  <div class = "container">
    <div class = "col-sm-11 offset-sm-1">
      <h3><i class="fas fa-list"></i>
        <!--parameterにuser_idが送信されたかされないかでタイトル変更-->
        <%= (params[:user_id].present? ? @user.nickname : "レシピ一覧") %>
        <%= (params[:user_id].present? ? "さんのレシピ一覧" : "") %>
      </h3>
    </div>
    <%= render 'partial_template/recipe_index', recipe_ds: @recipe_ds %>
  </div>
</main>