<main>
  <!--login,logout時にメッセージを表示-->
  <p><%= notice %></p>
  <div class = "container">
    <div class = "row">
      <div class="col-sm-8 offset-sm-2 text-center">
        <h1>welcome to <i class="fas fa-utensils"></i><strong>Favrecipe</strong>!!</h1>

        <p>このサイトはお気に入りのレシピを共有するために作られました。</p>
        <p>This site was created to share your favorite recipes!</p>
        <div class = "btn-wrapper col-10 mx-auto">
          <div class = "row">
            <%= link_to "Log in", new_user_session_path, class: 'btn btn-sm btn-info btn-block mb-3' %>
          </div>
          <div class = "row">
            <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-sm btn-success btn-block mb-3' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>