<% if error.errors.any? %>
  <div>
    <h3><%= error.errors.count %>件のエラーが発生しました。</h3>
    <ul>
      <% error.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>