<main>
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-10">
        <div class = "col-sm-11 offset-sm-1">
          <h3><i class="fas fa-list"></i><%= @user.nickname %>さんの投稿一覧</h3>
        </div>
        <%= render 'partial_template/recipe_index', recipe_ds: @recipe_ds %>
      </div>
  </div>
</main>